# Cloudflare Pages用の設定
name = "lift-timeline"
main = "workers/worker.ts"
compatibility_date = "2024-12-01"
compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]

# アセット設定
[assets]
directory = ".open-next/assets"
binding = "ASSETS"

# R2バインディング
[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "next-inc-cache"

# Cron（JST 7:00–19:00 の間で 10 分ごと = UTC 22–10）
[triggers]
# crons = ["*/10 22-23,0-10 * * *"]
crons = ["*/10 0-23 * * *"]

# Cloudflare Workers用の設定
[vars]
ENVIRONMENT = "development"
NEXT_PUBLIC_YUKIYAMA_API = "https://web-api.yukiyama.biz/web-api/latest-facility/backward"

[env.production.vars]
TEST = "production"
ENVIRONMENT = "production"

[env.preview.vars]
TEST = "preview"
ENVIRONMENT = "production"
